/Mod Manager X/.vs
/Mod Manager X/bin
/Mod Manager X/obj
/Mod Manager X/ModLibrary/GI
/Mod Manager X/ModLibrary/GI
/Mod Manager X/ModLibrary/HI
/Mod Manager X/ModLibrary/SR
/Mod Manager X/ModLibrary/WW
/Mod Manager X/ModLibrary/ZZ
/Mod Manager X/ModLibrary/ZZ
